@media screen and (max-width: 1200px) {
    .alpha_one h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .alpha_one h1 span {
        font-size: 40px;
    }

    .alpha_one p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 14px;
    }

    .Higher-Level h2 {
        font-size: 38px;
    }

    .free,
    .team {
        font-size: 14px;
    }

    .standards p {
        font-size: 18px;
    }

    .standards h2 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .icon_pra {
        font-size: 22px !important;
    }

    .compliance-logos {
        gap: 0px;
    }

    .beta_one h2 {
        font-size: 38px;
    }

    section.EqualWeb {
        padding: 60px 20px;
    }

    .beta_one p {
        font-size: 18px;
    }

    .icon_beta p {
        font-size: 18px;
    }

    .Higher-Level p {
        font-size: 18px;
    }
}

@media screen and (max-width:991px) {
    .EqualWeb .buttons {
        flex-direction: column;
        align-items: center;
    }

    .web_avail {
        background-image: unset;
    }

    section.EqualWeb:after {
        display: none;
    }

    .Higher-Level h2 {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .audit-item img {
        width: 98px;
        box-shadow: unset;
    }

    .advance_one h3 {
        font-size: 16px;
        margin: 24px 0;
    }

    .Higher-Level p {
        font-size: 16px;
    }

    .benefit img {
        width: 98px;
    }

    .beta_one p {
        font-size: 16px;
    }

    .icon_beta img {
        width: 98px;
    }

    .icon_beta p {
        font-size: 16px;
    }

    .icon_beta {
        gap: 12px;
    }

    .why_work_beta p {
        font-size: 24px;
    }

    section.EqualWeb:after {
        display: none;
    }

    .beta_one img {
        max-width: 538px;
        margin: 24px 0;
    }

    .beta_one span {
        color: #4C4C4C;
    }

    .Higher-Level:before {
        display: none;
    }

    section.Higher-Level {
        padding: 60px 20px;
    }

    .beta_one h2 {
        font-size: 32px;
        color: #4C4C4C;
        margin-bottom: 12px;
    }

    .Higher-Level .buttons {
        display: none;
    }

    .icon_pra {
        font-size: 16px !important;
    }

    .standards p {
        font-size: 16px;
    }

    .alpha_one,
    .alpha_two {
        width: 100%;
    }

    .desktop_version {
        display: none;
    }

    .mobile_version {
        display: block;
    }

    section.iqsay.animated-section.mobile_version .container {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .iqsay:after {
        display: none;
    }

    .alpha_one img {
        max-width: 523px;
        margin-bottom: 14px;
    }

    .alpha_two p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #4C4C4C;
    }

    .alpha_one h1 {
        margin-bottom: 14px;
    }

    .standards {
        padding: 0px 20px 52px;
    }

    .compliance-logos {
        margin: 0px 0 52px;
    }

    .standards h2 span {
        color: #4c4c4c;
    }

    .standards h2 {
        font-size: 32px;
    }

    .footer.mobile_version .footer-top {
        flex-direction: column;
        gap: 8px;
    }

    .footer.mobile_version .divider {
        display: none;
    }
}